In [7]:
from google.colab import drive

In [8]:
# Import the module
import json

In [9]:
# Python program to read
# json file

import json

# Opening JSON file
f = open('/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')

# returns JSON object as
# a dictionary
data = json.load(f)

# Iterating through the json
# list
#
# Closing file
f.close()

In [10]:
import pandas as pd

Question a :

Read the json file and select the columns mentioned below :
1. appointmentId
2. phoneNumber
3. firstName (from patientDetails)
4. lastName (from patientDetails)
5. gender (from patientDetails)*
6. birthDate (from patientDetails)**
7. medicines (from consultationData)
* Transform gender column data as mentioned below
'M' to male
'F' to female
null/Anything else to others
** Rename birthDate column as DOB

In [20]:
import pandas as pd

# Read the JSON file
df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')

# Flatten the nested structure of patientDetails
df_patientDetails = pd.json_normalize(df['patientDetails'])


df_consultationData = pd.json_normalize(df['consultationData'])


df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)


df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
df_selected['gender'].fillna('Others', inplace=True)

# Rename the birthDate column as DOB
df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)

# Print the resulting DataFrame
print(df_selected)

   appointmentId     phoneNumber                 firstName     lastName  \
0      40d2-9c9f     96686896670                       Css
1       40dbtc9f      9496368916                    Lokesh
2       g3Wt5c9f      7787204833                     Shila          Das
3       fb6-a535      9376756879                   Bhavika  Ben Panchal
4        67h7KL9      5267384241                Raghu Viju
5         Hy7Y91   +919826374025              Dinesh Kumar
6      10dY8a-4a      7587265252                     Lalit     Sankhwal
7       e8056Ye8      5586958767                      Ravi
8      dbc0-c66b      9987602525                    Dinesh
9         1576a7      9234354366                    Sanjay
10       b6Te4ac      4863281056                    Akshay       Akshay
11        bu5Qfb      8687986800                   Nirmala
12       86U8Y45                                    Satish
13       Ufd7231      7152684236                Kalaiarasi   Kalaiarasi
14       E4u5Ea2                              Satyanaaryan
15      T4E3e410      9184723620                   Nivitha
16       04Re22d                                    Tejpal
17      af9784hf      5847346075                  Nandhini
18       I8eW201      9064537237                  Dhanamma
19     f7r501cb1                                    Kushal
20    cf092c8t6c       992727892                    Daniya        Zehra
21      O02n262e      6888324121                       Jay       Sharma
22      5dfN9s41      8248594521                   Preethi
23      cc86re0f   +917938475936  VITTHAL SHANKARRAO GHATE
24       bd99dU7  +9124648979746                    Naresh
25        bcWe50   +916883788633                    Suresh      Gaikwad
26       7au8se3   +916636278363                 Govardhan
27      432cT213      6525356535                Rajeshwari
28      D3fFr42c                                   Santosh
29       7uyT6Rs   +919093872282                 Tarachand
30        O02n2e   +916888324121                       Jay       Sharma

    gender                       DOB  \
0   Others                      None
1     Male  1996-05-16T18:30:00.000Z
2   Others                       NaN
3   Female  1988-04-24T14:30:00.000Z
4   Others                       NaN
5     Male  1983-05-16T18:30:00.000Z
6     Male  2003-06-27T14:30:00.000Z
7   Others                       NaN
8     Male  1983-05-16T18:30:00.000Z
9     Male  1998-05-16T18:30:00.000Z
10    Male  1988-04-08T00:00:00.000Z
11  Female  1971-05-16T18:30:00.000Z
12  Others  1970-05-16T18:30:00.000Z
13  Female  1997-07-31T00:00:00.000Z
14  Others                       NaN
15  Female  1997-05-16T18:30:00.000Z
16    Male  1972-05-16T18:30:00.000Z
17  Female  2001-05-16T18:30:00.000Z
18  Female                       NaN
19  Others                       NaN
20  Female  2001-08-27T00:00:00.000Z
21    Male  1998-11-19T23:30:00.000Z
22  Female  1996-05-16T18:30:00.000Z
23  Others                       NaN
24    Male  1992-05-16T18:30:00.000Z
25  Others                       NaN
26  Others                       NaN
27  Female  1999-05-16T18:30:00.000Z
28  Female  1972-05-16T18:30:00.000Z
29    Male  1980-03-22T18:30:00.000Z
30    Male  1991-11-19T23:30:00.000Z

                                            medicines
0   [{'medicineId': '619404', 'medicineName': 'A',...
1   [{'medicineId': '619404', 'medicineName': 'A',...
2   [{'medicineId': '619404', 'medicineName': 'B',...
3   [{'medicineId': '619704', 'medicineName': 'B',...
4   [{'medicineId': '619384', 'medicineName': 'D',...
5   [{'medicineId': '643404', 'medicineName': 'A',...
6   [{'medicineId': '632304', 'medicineName': 'D',...
7   [{'medicineId': '619404', 'medicineName': 'A',...
8   [{'medicineId': '619504', 'medicineName': 'E',...
9                                                  []
10  [{'medicineId': '619504', 'medicineName': 'E',...
11  [{'medicineId': '619504', 'medicineName': 'E',...
12                                                 []
13  [{'medicineId': '619504', 'medicineName': 'A',...
14                                                 []
15  [{'medicineId': '619504', 'medicineName': 'B',...
16  [{'medicineId': '619504', 'medicineName': 'C',...
17  [{'medicineId': '619504', 'medicineName': 'A',...
18  [{'medicineId': '619504', 'medicineName': 'A',...
19                                                 []
20  [{'medicineId': '619504', 'medicineName': 'D',...
21  [{'medicineId': '612504', 'medicineName': 'D',...
22  [{'medicineId': '611504', 'medicineName': 'A',...
23  [{'medicineId': '612504', 'medicineName': 'A',...
24                                                 []
25  [{'medicineId': '612504', 'medicineName': 'D',...
26  [{'medicineId': '612504', 'medicineName': 'C',...
27  [{'medicineId': '612504', 'medicineName': 'A',...
28                                                 []
29  [{'medicineId': '612504', 'medicineName': 'A',...
30  [{'medicineId': '612504', 'medicineName': 'A',...

Question 2

Create a derived column fullName from fisrtName and lastName separated by a " " (space).
* if firstName is 'abc' and lastName is 'xyz' then fullName must be 'abc xyz'

In [26]:
import pandas as pd

# Read the JSON file
df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')


df_patientDetails = pd.json_normalize(df['patientDetails'])


df_consultationData = pd.json_normalize(df['consultationData'])


#df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)


#df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
#df_selected['gender'].fillna('Others', inplace=True)

#df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)

# Create the fullName column
df_selected['fullName'] = df_selected['firstName'] + ' ' + df_selected['lastName']

# Print the resulting DataFrame
print(df_selected)

   appointmentId     phoneNumber                 firstName     lastName  \
0      40d2-9c9f     96686896670                       Css
1       40dbtc9f      9496368916                    Lokesh
2       g3Wt5c9f      7787204833                     Shila          Das
3       fb6-a535      9376756879                   Bhavika  Ben Panchal
4        67h7KL9      5267384241                Raghu Viju
5         Hy7Y91   +919826374025              Dinesh Kumar
6      10dY8a-4a      7587265252                     Lalit     Sankhwal
7       e8056Ye8      5586958767                      Ravi
8      dbc0-c66b      9987602525                    Dinesh
9         1576a7      9234354366                    Sanjay
10       b6Te4ac      4863281056                    Akshay       Akshay
11        bu5Qfb      8687986800                   Nirmala
12       86U8Y45                                    Satish
13       Ufd7231      7152684236                Kalaiarasi   Kalaiarasi
14       E4u5Ea2                              Satyanaaryan
15      T4E3e410      9184723620                   Nivitha
16       04Re22d                                    Tejpal
17      af9784hf      5847346075                  Nandhini
18       I8eW201      9064537237                  Dhanamma
19     f7r501cb1                                    Kushal
20    cf092c8t6c       992727892                    Daniya        Zehra
21      O02n262e      6888324121                       Jay       Sharma
22      5dfN9s41      8248594521                   Preethi
23      cc86re0f   +917938475936  VITTHAL SHANKARRAO GHATE
24       bd99dU7  +9124648979746                    Naresh
25        bcWe50   +916883788633                    Suresh      Gaikwad
26       7au8se3   +916636278363                 Govardhan
27      432cT213      6525356535                Rajeshwari
28      D3fFr42c                                   Santosh
29       7uyT6Rs   +919093872282                 Tarachand
30        O02n2e   +916888324121                       Jay       Sharma

    gender                       DOB  \
0   Others                      None
1     Male  1996-05-16T18:30:00.000Z
2   Others                       NaN
3   Female  1988-04-24T14:30:00.000Z
4   Others                       NaN
5     Male  1983-05-16T18:30:00.000Z
6     Male  2003-06-27T14:30:00.000Z
7   Others                       NaN
8     Male  1983-05-16T18:30:00.000Z
9     Male  1998-05-16T18:30:00.000Z
10    Male  1988-04-08T00:00:00.000Z
11  Female  1971-05-16T18:30:00.000Z
12  Others  1970-05-16T18:30:00.000Z
13  Female  1997-07-31T00:00:00.000Z
14  Others                       NaN
15  Female  1997-05-16T18:30:00.000Z
16    Male  1972-05-16T18:30:00.000Z
17  Female  2001-05-16T18:30:00.000Z
18  Female                       NaN
19  Others                       NaN
20  Female  2001-08-27T00:00:00.000Z
21    Male  1998-11-19T23:30:00.000Z
22  Female  1996-05-16T18:30:00.000Z
23  Others                       NaN
24    Male  1992-05-16T18:30:00.000Z
25  Others                       NaN
26  Others                       NaN
27  Female  1999-05-16T18:30:00.000Z
28  Female  1972-05-16T18:30:00.000Z
29    Male  1980-03-22T18:30:00.000Z
30    Male  1991-11-19T23:30:00.000Z

                                            medicines  \
0   [{'medicineId': '619404', 'medicineName': 'A',...
1   [{'medicineId': '619404', 'medicineName': 'A',...
2   [{'medicineId': '619404', 'medicineName': 'B',...
3   [{'medicineId': '619704', 'medicineName': 'B',...
4   [{'medicineId': '619384', 'medicineName': 'D',...
5   [{'medicineId': '643404', 'medicineName': 'A',...
6   [{'medicineId': '632304', 'medicineName': 'D',...
7   [{'medicineId': '619404', 'medicineName': 'A',...
8   [{'medicineId': '619504', 'medicineName': 'E',...
9                                                  []
10  [{'medicineId': '619504', 'medicineName': 'E',...
11  [{'medicineId': '619504', 'medicineName': 'E',...
12                                                 []
13  [{'medicineId': '619504', 'medicineName': 'A',...
14                                                 []
15  [{'medicineId': '619504', 'medicineName': 'B',...
16  [{'medicineId': '619504', 'medicineName': 'C',...
17  [{'medicineId': '619504', 'medicineName': 'A',...
18  [{'medicineId': '619504', 'medicineName': 'A',...
19                                                 []
20  [{'medicineId': '619504', 'medicineName': 'D',...
21  [{'medicineId': '612504', 'medicineName': 'D',...
22  [{'medicineId': '611504', 'medicineName': 'A',...
23  [{'medicineId': '612504', 'medicineName': 'A',...
24                                                 []
25  [{'medicineId': '612504', 'medicineName': 'D',...
26  [{'medicineId': '612504', 'medicineName': 'C',...
27  [{'medicineId': '612504', 'medicineName': 'A',...
28                                                 []
29  [{'medicineId': '612504', 'medicineName': 'A',...
30  [{'medicineId': '612504', 'medicineName': 'A',...

                     fullName
0                        Css
1                     Lokesh
2                   Shila Das
3         Bhavika Ben Panchal
4                 Raghu Viju
5               Dinesh Kumar
6              Lalit Sankhwal
7                       Ravi
8                     Dinesh
9                     Sanjay
10              Akshay Akshay
11                   Nirmala
12                    Satish
13      Kalaiarasi Kalaiarasi
14              Satyanaaryan
15                   Nivitha
16                    Tejpal
17                  Nandhini
18                  Dhanamma
19                    Kushal
20               Daniya Zehra
21                 Jay Sharma
22                   Preethi
23  VITTHAL SHANKARRAO GHATE
24                    Naresh
25             Suresh Gaikwad
26                 Govardhan
27                Rajeshwari
28                   Santosh
29                 Tarachand
30                 Jay Sharma

Question c :

Add a column isValidMobile of boolean which contains the values true or false against each value from
phoneNumber column If a phone number is a valid Indian phone number. CREATE YOUR OWN LOGIC, DONâ€™T
USE ANY EXTERNAL PYTHON LIBRARY TO FOR VALIDATION
true : indicates number is valid
false : indicates number is not valid
* Design a logic to check whether a phone number is valid or not
* General rules to check -
1. A valid number can have '+91' or '91' as prefix, a valid number must lie be between
6000000000-9999999999
eg : +919876787687 is valid
919877475896 is valid
+913454768688 is invalid
9876787687 is valid
3454768688 is invalid
57769666 is invalid

In [28]:
import pandas as pd

#i have added the column which is names as isValidMobile and all data is achieved from it
df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')


df_patientDetails = pd.json_normalize(df['patientDetails'])

df_consultationData = pd.json_normalize(df['consultationData'])


df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)

df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
df_selected['gender'].fillna('Others', inplace=True)


df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)

df_selected['fullName'] = df_selected['firstName'] + ' ' + df_selected['lastName']


def is_valid_mobile(phone_number):
    if phone_number.startswith('+91') or phone_number.startswith('91'):
        digits = phone_number[-10:]  # Extract the last 10 digits
        if digits.isnumeric() and 6000000000 <= int(digits) <= 9999999999:
            return True
    return False

# Apply the function to create the isValidMobile column
df_selected['isValidMobile'] = df_selected['phoneNumber'].apply(is_valid_mobile)

# Print the resulting DataFrame
print(df_selected)

   appointmentId     phoneNumber                 firstName     lastName  \
0      40d2-9c9f     96686896670                       Css
1       40dbtc9f      9496368916                    Lokesh
2       g3Wt5c9f      7787204833                     Shila          Das
3       fb6-a535      9376756879                   Bhavika  Ben Panchal
4        67h7KL9      5267384241                Raghu Viju
5         Hy7Y91   +919826374025              Dinesh Kumar
6      10dY8a-4a      7587265252                     Lalit     Sankhwal
7       e8056Ye8      5586958767                      Ravi
8      dbc0-c66b      9987602525                    Dinesh
9         1576a7      9234354366                    Sanjay
10       b6Te4ac      4863281056                    Akshay       Akshay
11        bu5Qfb      8687986800                   Nirmala
12       86U8Y45                                    Satish
13       Ufd7231      7152684236                Kalaiarasi   Kalaiarasi
14       E4u5Ea2                              Satyanaaryan
15      T4E3e410      9184723620                   Nivitha
16       04Re22d                                    Tejpal
17      af9784hf      5847346075                  Nandhini
18       I8eW201      9064537237                  Dhanamma
19     f7r501cb1                                    Kushal
20    cf092c8t6c       992727892                    Daniya        Zehra
21      O02n262e      6888324121                       Jay       Sharma
22      5dfN9s41      8248594521                   Preethi
23      cc86re0f   +917938475936  VITTHAL SHANKARRAO GHATE
24       bd99dU7  +9124648979746                    Naresh
25        bcWe50   +916883788633                    Suresh      Gaikwad
26       7au8se3   +916636278363                 Govardhan
27      432cT213      6525356535                Rajeshwari
28      D3fFr42c                                   Santosh
29       7uyT6Rs   +919093872282                 Tarachand
30        O02n2e   +916888324121                       Jay       Sharma

    gender                       DOB  \
0   Others                      None
1     Male  1996-05-16T18:30:00.000Z
2   Others                       NaN
3   Female  1988-04-24T14:30:00.000Z
4   Others                       NaN
5     Male  1983-05-16T18:30:00.000Z
6     Male  2003-06-27T14:30:00.000Z
7   Others                       NaN
8     Male  1983-05-16T18:30:00.000Z
9     Male  1998-05-16T18:30:00.000Z
10    Male  1988-04-08T00:00:00.000Z
11  Female  1971-05-16T18:30:00.000Z
12  Others  1970-05-16T18:30:00.000Z
13  Female  1997-07-31T00:00:00.000Z
14  Others                       NaN
15  Female  1997-05-16T18:30:00.000Z
16    Male  1972-05-16T18:30:00.000Z
17  Female  2001-05-16T18:30:00.000Z
18  Female                       NaN
19  Others                       NaN
20  Female  2001-08-27T00:00:00.000Z
21    Male  1998-11-19T23:30:00.000Z
22  Female  1996-05-16T18:30:00.000Z
23  Others                       NaN
24    Male  1992-05-16T18:30:00.000Z
25  Others                       NaN
26  Others                       NaN
27  Female  1999-05-16T18:30:00.000Z
28  Female  1972-05-16T18:30:00.000Z
29    Male  1980-03-22T18:30:00.000Z
30    Male  1991-11-19T23:30:00.000Z

                                            medicines  \
0   [{'medicineId': '619404', 'medicineName': 'A',...
1   [{'medicineId': '619404', 'medicineName': 'A',...
2   [{'medicineId': '619404', 'medicineName': 'B',...
3   [{'medicineId': '619704', 'medicineName': 'B',...
4   [{'medicineId': '619384', 'medicineName': 'D',...
5   [{'medicineId': '643404', 'medicineName': 'A',...
6   [{'medicineId': '632304', 'medicineName': 'D',...
7   [{'medicineId': '619404', 'medicineName': 'A',...
8   [{'medicineId': '619504', 'medicineName': 'E',...
9                                                  []
10  [{'medicineId': '619504', 'medicineName': 'E',...
11  [{'medicineId': '619504', 'medicineName': 'E',...
12                                                 []
13  [{'medicineId': '619504', 'medicineName': 'A',...
14                                                 []
15  [{'medicineId': '619504', 'medicineName': 'B',...
16  [{'medicineId': '619504', 'medicineName': 'C',...
17  [{'medicineId': '619504', 'medicineName': 'A',...
18  [{'medicineId': '619504', 'medicineName': 'A',...
19                                                 []
20  [{'medicineId': '619504', 'medicineName': 'D',...
21  [{'medicineId': '612504', 'medicineName': 'D',...
22  [{'medicineId': '611504', 'medicineName': 'A',...
23  [{'medicineId': '612504', 'medicineName': 'A',...
24                                                 []
25  [{'medicineId': '612504', 'medicineName': 'D',...
26  [{'medicineId': '612504', 'medicineName': 'C',...
27  [{'medicineId': '612504', 'medicineName': 'A',...
28                                                 []
29  [{'medicineId': '612504', 'medicineName': 'A',...
30  [{'medicineId': '612504', 'medicineName': 'A',...

                     fullName  isValidMobile
0                        Css           False
1                     Lokesh           False
2                   Shila Das          False
3         Bhavika Ben Panchal          False
4                 Raghu Viju           False
5               Dinesh Kumar            True
6              Lalit Sankhwal          False
7                       Ravi           False
8                     Dinesh           False
9                     Sanjay           False
10              Akshay Akshay          False
11                   Nirmala           False
12                    Satish           False
13      Kalaiarasi Kalaiarasi          False
14              Satyanaaryan           False
15                   Nivitha            True
16                    Tejpal           False
17                  Nandhini           False
18                  Dhanamma           False
19                    Kushal           False
20               Daniya Zehra          False
21                 Jay Sharma          False
22                   Preethi           False
23  VITTHAL SHANKARRAO GHATE            True
24                    Naresh           False
25             Suresh Gaikwad           True
26                 Govardhan            True
27                Rajeshwari           False
28                   Santosh           False
29                 Tarachand            True
30                 Jay Sharma           True

Question d :
Add a column phoneNumberHash which contains hash against only valid number and null in case of
invalid from phoneNumber column.
* Use SHA256 hashing algorithm to hash the mobile number
* Number +919876776576 and 9876776576 should have same hash

Question e:

Add a column Age which will contain the age in integer of the person, use DOB column to calulate the
age.
* if DOB is null then age should be null

In [29]:
import pandas as pd
from datetime import datetime

# Read the JSON file
df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')


df_patientDetails = pd.json_normalize(df['patientDetails'])


df_consultationData = pd.json_normalize(df['consultationData'])


df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)

# Transform the gender column
df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
df_selected['gender'].fillna('Others', inplace=True)


df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)

# Create the fullName column
df_selected['fullName'] = df_selected['firstName'] + ' ' + df_selected['lastName']


df_selected['DOB'] = pd.to_datetime(df_selected['DOB'], utc=True)


current_date = pd.to_datetime('now', utc=True)
df_selected['Age'] = (current_date - df_selected['DOB']).dt.days // 365

# Print the resulting DataFrame
print(df_selected)

   appointmentId     phoneNumber                 firstName     lastName  \
0      40d2-9c9f     96686896670                       Css
1       40dbtc9f      9496368916                    Lokesh
2       g3Wt5c9f      7787204833                     Shila          Das
3       fb6-a535      9376756879                   Bhavika  Ben Panchal
4        67h7KL9      5267384241                Raghu Viju
5         Hy7Y91   +919826374025              Dinesh Kumar
6      10dY8a-4a      7587265252                     Lalit     Sankhwal
7       e8056Ye8      5586958767                      Ravi
8      dbc0-c66b      9987602525                    Dinesh
9         1576a7      9234354366                    Sanjay
10       b6Te4ac      4863281056                    Akshay       Akshay
11        bu5Qfb      8687986800                   Nirmala
12       86U8Y45                                    Satish
13       Ufd7231      7152684236                Kalaiarasi   Kalaiarasi
14       E4u5Ea2                              Satyanaaryan
15      T4E3e410      9184723620                   Nivitha
16       04Re22d                                    Tejpal
17      af9784hf      5847346075                  Nandhini
18       I8eW201      9064537237                  Dhanamma
19     f7r501cb1                                    Kushal
20    cf092c8t6c       992727892                    Daniya        Zehra
21      O02n262e      6888324121                       Jay       Sharma
22      5dfN9s41      8248594521                   Preethi
23      cc86re0f   +917938475936  VITTHAL SHANKARRAO GHATE
24       bd99dU7  +9124648979746                    Naresh
25        bcWe50   +916883788633                    Suresh      Gaikwad
26       7au8se3   +916636278363                 Govardhan
27      432cT213      6525356535                Rajeshwari
28      D3fFr42c                                   Santosh
29       7uyT6Rs   +919093872282                 Tarachand
30        O02n2e   +916888324121                       Jay       Sharma

    gender                       DOB  \
0   Others                       NaT
1     Male 1996-05-16 18:30:00+00:00
2   Others                       NaT
3   Female 1988-04-24 14:30:00+00:00
4   Others                       NaT
5     Male 1983-05-16 18:30:00+00:00
6     Male 2003-06-27 14:30:00+00:00
7   Others                       NaT
8     Male 1983-05-16 18:30:00+00:00
9     Male 1998-05-16 18:30:00+00:00
10    Male 1988-04-08 00:00:00+00:00
11  Female 1971-05-16 18:30:00+00:00
12  Others 1970-05-16 18:30:00+00:00
13  Female 1997-07-31 00:00:00+00:00
14  Others                       NaT
15  Female 1997-05-16 18:30:00+00:00
16    Male 1972-05-16 18:30:00+00:00
17  Female 2001-05-16 18:30:00+00:00
18  Female                       NaT
19  Others                       NaT
20  Female 2001-08-27 00:00:00+00:00
21    Male 1998-11-19 23:30:00+00:00
22  Female 1996-05-16 18:30:00+00:00
23  Others                       NaT
24    Male 1992-05-16 18:30:00+00:00
25  Others                       NaT
26  Others                       NaT
27  Female 1999-05-16 18:30:00+00:00
28  Female 1972-05-16 18:30:00+00:00
29    Male 1980-03-22 18:30:00+00:00
30    Male 1991-11-19 23:30:00+00:00

                                            medicines  \
0   [{'medicineId': '619404', 'medicineName': 'A',...
1   [{'medicineId': '619404', 'medicineName': 'A',...
2   [{'medicineId': '619404', 'medicineName': 'B',...
3   [{'medicineId': '619704', 'medicineName': 'B',...
4   [{'medicineId': '619384', 'medicineName': 'D',...
5   [{'medicineId': '643404', 'medicineName': 'A',...
6   [{'medicineId': '632304', 'medicineName': 'D',...
7   [{'medicineId': '619404', 'medicineName': 'A',...
8   [{'medicineId': '619504', 'medicineName': 'E',...
9                                                  []
10  [{'medicineId': '619504', 'medicineName': 'E',...
11  [{'medicineId': '619504', 'medicineName': 'E',...
12                                                 []
13  [{'medicineId': '619504', 'medicineName': 'A',...
14                                                 []
15  [{'medicineId': '619504', 'medicineName': 'B',...
16  [{'medicineId': '619504', 'medicineName': 'C',...
17  [{'medicineId': '619504', 'medicineName': 'A',...
18  [{'medicineId': '619504', 'medicineName': 'A',...
19                                                 []
20  [{'medicineId': '619504', 'medicineName': 'D',...
21  [{'medicineId': '612504', 'medicineName': 'D',...
22  [{'medicineId': '611504', 'medicineName': 'A',...
23  [{'medicineId': '612504', 'medicineName': 'A',...
24                                                 []
25  [{'medicineId': '612504', 'medicineName': 'D',...
26  [{'medicineId': '612504', 'medicineName': 'C',...
27  [{'medicineId': '612504', 'medicineName': 'A',...
28                                                 []
29  [{'medicineId': '612504', 'medicineName': 'A',...
30  [{'medicineId': '612504', 'medicineName': 'A',...

                     fullName   Age
0                        Css    NaN
1                     Lokesh   27.0
2                   Shila Das   NaN
3         Bhavika Ben Panchal  35.0
4                 Raghu Viju    NaN
5               Dinesh Kumar   40.0
6              Lalit Sankhwal  20.0
7                       Ravi    NaN
8                     Dinesh   40.0
9                     Sanjay   25.0
10              Akshay Akshay  35.0
11                   Nirmala   52.0
12                    Satish   53.0
13      Kalaiarasi Kalaiarasi  26.0
14              Satyanaaryan    NaN
15                   Nivitha   26.0
16                    Tejpal   51.0
17                  Nandhini   22.0
18                  Dhanamma    NaN
19                    Kushal    NaN
20               Daniya Zehra  22.0
21                 Jay Sharma  25.0
22                   Preethi   27.0
23  VITTHAL SHANKARRAO GHATE    NaN
24                    Naresh   31.0
25             Suresh Gaikwad   NaN
26                 Govardhan    NaN
27                Rajeshwari   24.0
28                   Santosh   51.0
29                 Tarachand   44.0
30                 Jay Sharma  32.0

Question f :
Add below aggrigated columns against unique appointmentId---
Add a column noOfMedicines which will contain the number of medicines prescribed against each
appointmentId.
Add a column noOfActiveMedicines which will contain the number of active medicines prescribed
against each appointmentId.
Add a column noOfInActiveMedicines which will contain the number of inactive medicines prescribed
against each appointmentId.
* If the value of IsActive Column is true , that means medicine is active
* If the value of IsActive Column is false , that means medicine is inactive

In [31]:
import pandas as pd
from datetime import datetime

# Read the JSON file
df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')


df_patientDetails = pd.json_normalize(df['patientDetails'])


df_consultationData = pd.json_normalize(df['consultationData'])

df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)

df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
df_selected['gender'].fillna('Others', inplace=True)


df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)

df_selected['fullName'] = df_selected['firstName'] + ' ' + df_selected['lastName']


df_selected['DOB'] = pd.to_datetime(df_selected['DOB'], utc=True)


current_date = pd.to_datetime('now', utc=True)
df_selected['Age'] = (current_date - df_selected['DOB']).dt.days // 365


df_selected['noOfMedicines'] = df_selected['medicines'].apply(lambda x: len(x) if isinstance(x, list) else 0)

df_selected['noOfActiveMedicines'] = df_selected['medicines'].apply(lambda x: sum(1 for med in x if isinstance(med, dict) and med.get('IsActive', False)) if isinstance(x, list) else 0)


df_selected['noOfInactiveMedicines'] = df_selected['medicines'].apply(lambda x: sum(1 for med in x if isinstance(med, dict) and not med.get('IsActive', False)) if isinstance(x, list) else 0)


df_aggregated = df_selected.groupby('appointmentId').agg({
    'noOfMedicines': 'sum',
    'noOfActiveMedicines': 'sum',
    'noOfInactiveMedicines': 'sum'
}).reset_index()

print(df_aggregated)

   appointmentId  noOfMedicines  noOfActiveMedicines  noOfInactiveMedicines
0        04Re22d              2                    0                      2
1      10dY8a-4a              2                    0                      2
2         1576a7              0                    0                      0
3      40d2-9c9f              2                    0                      2
4       40dbtc9f              2                    0                      2
5       432cT213              4                    0                      4
6       5dfN9s41              4                    0                      4
7        67h7KL9              2                    0                      2
8        7au8se3              2                    0                      2
9        7uyT6Rs              4                    0                      4
10       86U8Y45              0                    0                      0
11      D3fFr42c              0                    0                      0
12       E4u5Ea2              0                    0                      0
13        Hy7Y91              4                    0                      4
14       I8eW201              4                    0                      4
15      O02n262e              3                    0                      3
16        O02n2e              4                    0                      4
17      T4E3e410              3                    0                      3
18       Ufd7231              3                    0                      3
19      af9784hf              3                    0                      3
20       b6Te4ac              1                    0                      1
21        bcWe50              4                    0                      4
22       bd99dU7              0                    0                      0
23        bu5Qfb              3                    0                      3
24      cc86re0f              3                    0                      3
25    cf092c8t6c              1                    0                      1
26     dbc0-c66b              1                    0                      1
27      e8056Ye8              1                    0                      1
28     f7r501cb1              0                    0                      0
29      fb6-a535              1                    0                      1
30      g3Wt5c9f              3                    0                      3

Question g :

Add a column medicineNames which should contain the name of all active medicines separated by a
character "," (comma) against each appointmentId.

In [53]:
import pandas as pd
from datetime import datetime


#df = pd.read_json(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json')


df_patientDetails = pd.json_normalize(df['patientDetails'])


df_consultationData = pd.json_normalize(df['consultationData'])


df_selected = pd.concat([df[['appointmentId', 'phoneNumber']], df_patientDetails[['firstName', 'lastName', 'gender', 'birthDate']], df_consultationData['medicines']], axis=1)


df_selected['gender'] = df_selected['gender'].map({'M': 'Male', 'F': 'Female'})
df_selected['gender'].fillna('Others', inplace=True)


df_selected.rename(columns={'birthDate': 'DOB'}, inplace=True)


df_selected['fullName'] = df_selected['firstName'] + ' ' + df_selected['lastName']


df_selected['DOB'] = pd.to_datetime(df_selected['DOB'], utc=True)


current_date = pd.to_datetime('now', utc=True)
df_selected['Age'] = (current_date - df_selected['DOB']).dt.days // 365


df_selected['noOfMedicines'] = df_selected['medicines'].apply(lambda x: len(x) if isinstance(x, list) else 0)

df_selected['noOfActiveMedicines'] = df_selected['medicines'].apply(lambda x: sum(1 for med in x if isinstance(med, dict) and med.get('IsActive', False)) if isinstance(x, list) else 0)

df_selected['noOfInactiveMedicines'] = df_selected['medicines'].apply(lambda x: sum(1 for med in x if isinstance(med, dict) and not med.get('IsActive', False)) if isinstance(x, list) else 0)

df_selected['medicineNames'] = df_selected['medicines'].apply(lambda x: ', '.join(med['Name'] for med in x if isinstance(med, dict) and med.get('IsActive', False)) if isinstance(x, list) else '')


df_aggregated = df_selected.groupby('appointmentId').agg({
    'noOfMedicines': 'sum',
    'noOfActiveMedicines': 'sum',
    'noOfInactiveMedicines': 'sum',
    'medicineNames': ', '.join
}).reset_index()

print(df_aggregated)


columns_to_export = {'appointmentId', 'fullName', 'phoneNumber', 'isValidMobile',
                     'gender', 'DOB', 'Age', 'noOfMedicines', 'noOfActiveMedicines', 'noOfInactiveMedicines',
                     'medicineNames'}

#df_final = df_aggregated[columns_to_export]


df_aggregated.to_csv(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json', sep='~', index=False)

   appointmentId  noOfMedicines  noOfActiveMedicines  noOfInactiveMedicines  \
0        04Re22d              2                    0                      2
1      10dY8a-4a              2                    0                      2
2         1576a7              0                    0                      0
3      40d2-9c9f              2                    0                      2
4       40dbtc9f              2                    0                      2
5       432cT213              4                    0                      4
6       5dfN9s41              4                    0                      4
7        67h7KL9              2                    0                      2
8        7au8se3              2                    0                      2
9        7uyT6Rs              4                    0                      4
10       86U8Y45              0                    0                      0
11      D3fFr42c              0                    0                      0
12       E4u5Ea2              0                    0                      0
13        Hy7Y91              4                    0                      4
14       I8eW201              4                    0                      4
15      O02n262e              3                    0                      3
16        O02n2e              4                    0                      4
17      T4E3e410              3                    0                      3
18       Ufd7231              3                    0                      3
19      af9784hf              3                    0                      3
20       b6Te4ac              1                    0                      1
21        bcWe50              4                    0                      4
22       bd99dU7              0                    0                      0
23        bu5Qfb              3                    0                      3
24      cc86re0f              3                    0                      3
25    cf092c8t6c              1                    0                      1
26     dbc0-c66b              1                    0                      1
27      e8056Ye8              1                    0                      1
28     f7r501cb1              0                    0                      0
29      fb6-a535              1                    0                      1
30      g3Wt5c9f              3                    0                      3

   medicineNames
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

STEP 2 â‰Your final dataframe should have these columns, Export this dataframe in a csv file with no index and use'~'
separator:-
1. appointmentId
2. fullName
3. phoneNumber
4. isValidMobile
5. phoneNumberHash
6. gender
7. DOB
8. Age
9. noOfMedicines
10. noOfActiveMedicines
11. noOfInActiveMedicines
12. MedicineNames


h.
1. Export the aggregated data in json file format
Keys:
1. Age
2. gender
3. validPhoneNumbers (no of valid mobile numbers)
4. appointments (no of appointments)
5. medicines (no of medicines prescribed)
6. activeMedicines (no of active medicines prescribed)
2. Plot a pie chart for number of appointments against gender

In [43]:
import pandas as pd
import json
# Read the JSON file
with open(r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json') as json_file:
    data = json.load(json_file)

# Flatten the nested structure
df = pd.json_normalize(data)

# Select the desired columns
selected_columns = ['appointmentId', 'phoneNumber', 'patientDetails.firstName', 'patientDetails.lastName',
                    'patientDetails.gender', 'patientDetails.birthDate', 'consultationData.medicines']
df_selected = df[selected_columns]

# Transform the gender column
df_selected['patientDetails.gender'] = df_selected['patientDetails.gender'].map({'M': 'Male', 'F': 'Female'})

# Print the resulting DataFrame
print(df_selected)

   appointmentId     phoneNumber  patientDetails.firstName  \
0      40d2-9c9f     96686896670                       Css
1       40dbtc9f      9496368916                    Lokesh
2       g3Wt5c9f      7787204833                     Shila
3       fb6-a535      9376756879                   Bhavika
4        67h7KL9      5267384241                Raghu Viju
5         Hy7Y91   +919826374025              Dinesh Kumar
6      10dY8a-4a      7587265252                     Lalit
7       e8056Ye8      5586958767                      Ravi
8      dbc0-c66b      9987602525                    Dinesh
9         1576a7      9234354366                    Sanjay
10       b6Te4ac      4863281056                    Akshay
11        bu5Qfb      8687986800                   Nirmala
12       86U8Y45                                    Satish
13       Ufd7231      7152684236                Kalaiarasi
14       E4u5Ea2                              Satyanaaryan
15      T4E3e410      9184723620                   Nivitha
16       04Re22d                                    Tejpal
17      af9784hf      5847346075                  Nandhini
18       I8eW201      9064537237                  Dhanamma
19     f7r501cb1                                    Kushal
20    cf092c8t6c       992727892                    Daniya
21      O02n262e      6888324121                       Jay
22      5dfN9s41      8248594521                   Preethi
23      cc86re0f   +917938475936  VITTHAL SHANKARRAO GHATE
24       bd99dU7  +9124648979746                    Naresh
25        bcWe50   +916883788633                    Suresh
26       7au8se3   +916636278363                 Govardhan
27      432cT213      6525356535                Rajeshwari
28      D3fFr42c                                   Santosh
29       7uyT6Rs   +919093872282                 Tarachand
30        O02n2e   +916888324121                       Jay

   patientDetails.lastName patientDetails.gender  patientDetails.birthDate  \
0                                            NaN                      None
1                                           Male  1996-05-16T18:30:00.000Z
2                      Das                   NaN                       NaN
3              Ben Panchal                Female  1988-04-24T14:30:00.000Z
4                                            NaN                       NaN
5                                           Male  1983-05-16T18:30:00.000Z
6                 Sankhwal                  Male  2003-06-27T14:30:00.000Z
7                                            NaN                       NaN
8                                           Male  1983-05-16T18:30:00.000Z
9                                           Male  1998-05-16T18:30:00.000Z
10                  Akshay                  Male  1988-04-08T00:00:00.000Z
11                                        Female  1971-05-16T18:30:00.000Z
12                                           NaN  1970-05-16T18:30:00.000Z
13              Kalaiarasi                Female  1997-07-31T00:00:00.000Z
14                                           NaN                       NaN
15                                        Female  1997-05-16T18:30:00.000Z
16                                          Male  1972-05-16T18:30:00.000Z
17                                        Female  2001-05-16T18:30:00.000Z
18                                        Female                       NaN
19                                           NaN                       NaN
20                   Zehra                Female  2001-08-27T00:00:00.000Z
21                  Sharma                  Male  1998-11-19T23:30:00.000Z
22                                        Female  1996-05-16T18:30:00.000Z
23                                           NaN                       NaN
24                                          Male  1992-05-16T18:30:00.000Z
25                 Gaikwad                   NaN                       NaN
26                                           NaN                       NaN
27                                        Female  1999-05-16T18:30:00.000Z
28                                        Female  1972-05-16T18:30:00.000Z
29                                          Male  1980-03-22T18:30:00.000Z
30                  Sharma                  Male  1991-11-19T23:30:00.000Z

                           consultationData.medicines
0   [{'medicineId': '619404', 'medicineName': 'A',...
1   [{'medicineId': '619404', 'medicineName': 'A',...
2   [{'medicineId': '619404', 'medicineName': 'B',...
3   [{'medicineId': '619704', 'medicineName': 'B',...
4   [{'medicineId': '619384', 'medicineName': 'D',...
5   [{'medicineId': '643404', 'medicineName': 'A',...
6   [{'medicineId': '632304', 'medicineName': 'D',...
7   [{'medicineId': '619404', 'medicineName': 'A',...
8   [{'medicineId': '619504', 'medicineName': 'E',...
9                                                  []
10  [{'medicineId': '619504', 'medicineName': 'E',...
11  [{'medicineId': '619504', 'medicineName': 'E',...
12                                                 []
13  [{'medicineId': '619504', 'medicineName': 'A',...
14                                                 []
15  [{'medicineId': '619504', 'medicineName': 'B',...
16  [{'medicineId': '619504', 'medicineName': 'C',...
17  [{'medicineId': '619504', 'medicineName': 'A',...
18  [{'medicineId': '619504', 'medicineName': 'A',...
19                                                 []
20  [{'medicineId': '619504', 'medicineName': 'D',...
21  [{'medicineId': '612504', 'medicineName': 'D',...
22  [{'medicineId': '611504', 'medicineName': 'A',...
23  [{'medicineId': '612504', 'medicineName': 'A',...
24                                                 []
25  [{'medicineId': '612504', 'medicineName': 'D',...
26  [{'medicineId': '612504', 'medicineName': 'C',...
27  [{'medicineId': '612504', 'medicineName': 'A',...
28                                                 []
29  [{'medicineId': '612504', 'medicineName': 'A',...
30  [{'medicineId': '612504', 'medicineName': 'A',...

<ipython-input-43-269eaf5438f4>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected['patientDetails.gender'] = df_selected['patientDetails.gender'].map({'M': 'Male', 'F': 'Female'})

In [45]:
import json
import pandas as pd
import matplotlib.pyplot as plt

json_file_path = r'/content/drive/MyDrive/Bajaj Exam /DataEngineeringQ2.json'
with open(json_file_path) as json_file:
    data = json.load(json_file)


df = pd.DataFrame(data)

plt.show()